/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

html,
body {
	height: 100%;
}

main {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#testoAlternato {
	padding: 20px 150px 20px 20px;
	text-align: left;
	font-size: 2.5rem;
	font-weight: bold;
	border: gray 2px solid;
	color: gray;
}

.parole {
	color: aqua;
	position: relative;
}

.parole i {
	position: absolute;
	top: 0px;
	left: 10px;
	width: 100%;
	visibility: hidden;
}

#first-i {
	visibility: hidden;
	white-space: nowrap;
	animation-name: text_fade-in;
	animation-duration: 2s;
	animation-timing-function: linear;
	transition: 0.3s;
}

#second-i {
	visibility: hidden;
	white-space: nowrap;
	animation-name: text_fade-in;
	animation-duration: 2s;
	animation-timing-function: linear;
	transition: 0.3s;
	animation-delay: 3s;
}

#third-i {
	visibility: hidden;
	white-space: nowrap;
	animation-name: text_fade-in;
	animation-duration: 2s;
	animation-timing-function: linear;
	transition: 0.3s;
	animation-delay: 6s;
}

@keyframes text_fade-in {
	0% {
		visibility: visible;
		opacity: 0;
		top: -50px;
	}
	50% {
		opacity: 1;
		top: 0px;
	}
	100% {
		opacity: 0;
		top: 50px;
	}
}
